/*.w-container {*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    max-width: 1200px;*/
/*}*/

.valuationsection .container, .avatarsection .w-container, header .w-container {
    max-width: 1200px;
}


      .calagent {
        background: #02c667;
        line-height: 34px;
        padding: 0 10px;
        font-weight: 400;
    }
    .nav-link img {
        max-width: 33px;
    }
    
    .avatarsection {
        text-align: center;
    }
    .avatarimage {
        height: 70px;
        width: 70px;
        background: grey;
        border-radius: 50%;
        margin: -40px auto 0;
        display: inline-flex;
        overflow: hidden;
        
    }
    
    .username {
        font-size: 17px;
        font-weight: 400;
        margin-top: 15px;
        margin-bottom: 40px;
    }
    
    .userlogo {
        border-top: 1px solid #ddd;
    }

.heading {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 35px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
}

.heading.topsub {
    font-size: 22px;
    font-weight: 300;
    margin-top: 0px;
    line-height: 1;
    margin-bottom: 15px;
}

.top2head {
    margin-bottom: 35px;
}

.consec1 {
  position: relative;
  padding-bottom: 0px;
  clear: both;
  border-style: none;
  border-bottom: 1px solid #dddddd;
  border-radius: 1px;
  background-color: rgba(141, 131, 131, 0);
  font-family: 'Kumbh Sans', sans-serif;
}

.body {
  border: 0px none #000;
  font-family: 'Kumbh Sans', sans-serif;
}

.section2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.consec2 {
  font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
}

.heading3 {
    font-size: 33px;
    line-height: 1;
    margin-bottom: 30px;
}

.price1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: max-content;
    margin: 0 auto;
}
.symbol1 {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    color: #02c667;
    font-size: 30px;
    font-weight: 700;
}


.paragraph {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.heading-2 {
  border-style: none;
  border-width: 0px;
  border-color: #02c667;
  color: #02c667;
  font-size: 50px;
  line-height: 1;
  margin: 0 0 15px;
}

.div-block {
  margin-top: 70px;
  margin-bottom: 70px;
}

.text-block {
  font-size: 16px;
}

.div-block-2 {
  margin: 0px auto;
  padding: 0px;
}

.pbbk {
    border-style: solid;
    border-width: 1px;
    border-color: #999;
    background-color: transparent;
    color: #999;
    text-transform: uppercase;
    padding: 5px 15px 5px;
    line-height: 30px;
}

.pbbk img {
    max-width: 35px;
    margin-left: -10px;
    margin-right: 5px;
}

.valuationblock {
    max-width: 757px;
    margin: 0 auto;
}

.valueamount {
    display: flex;
    max-width: max-content;
    margin: 0 auto;
}

.symbol {
    font-size: 22px;
    color: #999;
}

.black .symbol, .black .heading200, .black .text-block-2 {
    color: #000;
}


.section {
  margin-top: 40px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 0px;
}

.container {
  font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
}

.heading200 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #999;
  font-size: 33px;
  line-height: 1;
  font-weight: 300;
}

.text-block-2 {
  margin: 0px auto;
  padding: 0px;
  color: #999;
  font-size: 12px;
  line-height: 2;
  font-weight: 700;
}

.div-block-3 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.div-block-4 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.doulecols {
    margin-top: 50px;
}

.columnshalf {
    margin-top: 35px;
}

.bborder {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.singleborder {
    height: 1px;
    background: #ddd;
    margin-top: 85px;
    margin-bottom: 50px;
}

.heading-3 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #999;
  font-size: 25px;
  line-height: 25px;
  font-weight: 300;
}

.heading-4 {
  font-size: 25px;
}

.heading-5 {
  font-size: 25px;
}

.column {
  color: #999;
}

.heading-6 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 25px;
  line-height: 1;
}

.text-block-3 {
  font-size: 12px;
  font-weight: 700;
}

.text-block-4 {
  font-size: 12px;
  font-weight: 700;
}

.columns {
  margin-top: 20px;
}

.columns-2 {
  margin-top: 20px;
}

.container-2 {
  text-align: center;
}

.heading-7 {
    font-size: 25px;
    line-height: 1;
    margin-top: 30px;
    margin-bottom: 0px;
}

.headingbottom {
    width: 40px;
    height: 2px;
    background: #000;
    margin: 20px auto 30px;
}

.div-block-7 {
    margin-top: 20px;
    margin-bottom: 7px;
}

.div-block-9 {
    margin-bottom: 25px;
}
.assumption {
    margin-bottom: 20px;
}
.assumption p {
    font-size: 8px;
    color: #02c667;
    line-height: 1;
}




.rvalue {
    display: flex;
    color: #02c667 !important;
    border-bottom: 1px solid #999;
    padding: 8px 6px 5px;
}

.rvalue .symbol {
    font-size: 6px;
    line-height: 1;
     color: #02c667 !important;
}



.rvalue .symbol {
    font-size: 10px;
    line-height: 1;
    margin-right: 2px;
}
.rvalue h4{
    line-height: 1;
    margin: 0;
    font-size: 14px;
}

.rtexange {
    max-width: 80%;
    border: 1px solid #000;
}

.column-2 {
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.text-block-5 {
  margin-bottom: 10px;
  line-height: 1.2;
  text-align: left;
  font-size: 12px;
}

.heading-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #02c667;
  font-size: 67px;
  line-height: 1;
}

.heading-9 {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #02c667;
  font-size: 21px;
  line-height: 1;
  text-align: left;
}

.columns-3 {
  margin-top: 0px;
}

.heading-10 {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000;
  font-size: 41px;
  line-height: 1;
  text-align: left;
}

.heading-11 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 21px;
  line-height: 1;
  text-align: left;
}

.heading-12 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 21px;
  line-height: 1;
  text-align: left;
}

.text-block-6 {
  font-size: 8px;
  line-height: 1;
  text-align: left;
}

.heading-13 {
    font-size: 16px;
    line-height: 1;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 15px;
}

.heading-14 {
  margin-top: auto;
  margin-bottom: auto;
  color: #e92020;
  font-size: 21px;
  line-height: 1;
}

.heading-15 {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 21px;
  line-height: 1;
}

.heading-16 {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 21px;
  line-height: 1;
}

.column-3 {
  text-align: left;
}

.div-block-5 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  clear: both;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -o-object-fit: fill;
  object-fit: fill;
}

.text-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-size: 20px;
  font-weight: 700;
}

.text-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  line-height: 1;
}

.div-block-6 {
  padding-left: 10px;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.div-block-8 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.text-block-9 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  color: #02c667;
  font-size: 40px;
  font-weight: 700;
}

.div-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.text-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -4px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #02c667;
  font-weight: 700;
}

.section-2 {
  position: relative;
  top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.boxstats {
    max-width: 420px;
    margin: 0 auto;
    border: 1px solid #999;
    text-align: center;
    padding: 20px 30px 50px;
}


.heading-17 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 21px;
  line-height: 1;
}

.text-block-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -3px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 14px;
  font-weight: 700;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  font-weight: 700;
}

.text-block-13, .text-block-14, .text-block-15 {
    text-align: left;
    margin-bottom: 12px;
}

.text-block-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -3px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #e92020;
}



.container-3 {
  text-align: center;
}

.heading-18 {
  font-size: 33px;
  line-height: 1;
  margin-bottom: 15px;
}

.text-block-16 {
  font-size: 21px;
}

.text-block-17 {
  font-size: 21px;
  line-height: 1;
}

.div-block-11 {
  margin-top: 50px;
}

.lympo {
  margin-bottom: 0px;
  padding: 0px 30px;
  background-color: #02c667;
  font-size: 16px;
  line-height: 47px;
  font-weight: 700;
}

.image {
  margin-right: 2%;
  margin-left: 2%;
}

.div-block-12 {
  margin-top: 60px;
}

.divider {
    height: 1px;
    background: #ddd;
    width: 80%;
    margin: 35px auto;
}

.heading-19 {
  margin-top: 0px;
  font-size: 25px;
}

.section-3 {
  margin-top: 35px;
  margin-bottom: 35px;
}

.column-4 {
  padding-right: 0px;
  padding-left: 0px;
}

.div-block-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-18 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  line-height: 1.4;
}

.image-2 {
  margin-right: 10px;
}

.div-block-14 {
  margin-right: 40px;
  margin-left: 40px;
}

.column-5 {
  padding-right: 0px;
  padding-left: 0px;
}

.div-block-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.div-block-16 {
  display: block;
}

.text-block-19 {
  width: 30%;
}

.text-block-20 {
  width: 30%;
}

.text-block-21 {
  width: 30%;
}

.text-block-22 {
  width: 30%;
}

.text-block-23 {
  width: 30%;
}

.text-block-24 {
  width: 30%;
}

.text-block-25 {
  width: 30%;
}

.text-block-26 {
  width: 30%;
}

.text-block-27 {
  text-align: center;
}

.tablediv {
  margin-top: 60px;
  margin-bottom: 60px;
}

.sticky-nav {
  position: relative;
  top: 0px;
  z-index: 1;
  padding: 20px;
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  -ms-grid-columns: 1fr max-content max-content max-content;
  grid-template-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: 1fr max-content max-content max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-logo-link {
  display: block;
  height: 60px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.nav-logo {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.nav-link {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 0px;
  color: #444;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .sticky-nav {
    position: relative;
  }

  .nav-grid {
    text-align: center;
    display: inline-flex !important;
    justify-content: flex-end;
  }
  
  .nav-link {
    padding-left: 10px;
    }
  
  .boxstats {
      margin-top: 30px;
      margin-bottom: 30px;
  }
  
  .calagent {
      display: none;
  }
  .nav-logo {
      display: none;
  }
  
  .nav-logo.moblogo {
      display: block;
  }
  
  .nav-logo-link {
    height: 40px;
  }
  
  .avatarimage {
    height: 50px !important;
    width: 50px !important;
    background: grey !important;
    border-radius: 50% !important;
    margin: -25px auto 0 !important;
    display: inline-flex;
    overflow: hidden;
}

.section1, .section2, .section3, .lgyul,.section-1, .section-3, .sectionlast, .section-2 .paragraph {
    padding: 0 20px;
}
  .heading200 {
    font-size: 20px;
  }
  
  .text-block-2 {
    font-size: 10px;
  }
  .heading {
    font-size: 30px;
  }
  .heading3 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  
  .heading-18 {
    font-size: 28px;
    line-height: 1;
    margin-bottom: 15px;
}
    .cenimage:after {
        top: 53% !important;
        left: -15% !important;
    }
  .cenimage:before {
        top: 53% !important;
        right: -15% !important;
    }
    
  .image {
        margin-right: 5%;
        margin-left: 5%;
        width: 30%;
        margin-bottom: 5%;
    }
  
  .section-2 .paragraph, .section2 .paragraph, .text-block-17 {
        font-size: 15px;
    }

  .text-block-17 {
        font-size: 16px;
    }
  
  .div-block-13 {
    float: left;
}
  .div-block-14 {
    margin-right: 0px;
    margin-left: 0px;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 20px;
}

.div-block-15 {
    padding-right: 0px;
    padding-left: 0px;
}

.section-3 .w-col {
    padding-left: 0px;
    padding-right: 0px;
}

.section.valuationsection {
    margin-top: -20px;
}

a.pbbk.w-button.blacknightbuton {
    margin-top: 30px;
    margin-bottom: 80px;
}

.div-block-4 {
    margin-top: 30px;
    margin-bottom: 0px;
}

a.pbbk.w-button.mobile-only.zillowbuton, a.pbbk.w-button.mobile-only.reminbutton {
    margin-top: 30px;

}

a.pbbk.w-button {
    font-size: 12px;
    min-width: 240px;
}

.text-block {
    font-size: 14px;
}

.heading-18 {
    font-size: 28px;
}

    .mobile-only {
        display: inline-block !important;
    }
  
  .moblogo {
      display: inline-block;
  }
  .desktop-only {
      display: none;
  }
}
  .mobile-only {
        display: none;
  }
  .moblogo {
      display: none;
  }


@media screen and (max-width: 479px) {
  .sticky-nav {
    padding: 0px;
  }

  .nav-grid {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }

  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c4c4c4;
  }
}

#w-node-_5f210b73-f74c-ea2f-a559-9209bea7e58e-a0ccd001 {
  -ms-grid-column-align: start;
  justify-self: start;
}

@media screen and (max-width: 479px) {
  #w-node-_5f210b73-f74c-ea2f-a559-9209bea7e58e-a0ccd001 {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}












/*tabledetails*/

.tableaddr {
    display: table;
}
.tableaddr .imag, .tableaddr .details {
    display: table-cell;
    vertical-align: middle;
}

.tableaddr .details {
    text-align: left;
    padding-left: 20px;
}
.tableaddr .imag img {
    width: 65px;
    height: 54px;
}

.pdif {
    color: #02c667;
}






/*Table Css*/

.tablediv table {
  border: 0px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.tablediv table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

.tablediv table tr {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: .35em;
}

.tablediv table th,
.tablediv table td {
  padding: .625em;
  text-align: left;
}

.tablediv table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.tablediv table th:first-child {
    width: 30%;
}


@media screen and (max-width: 600px) {
  .tablediv table {
    border: 0;
  }

  .tablediv table caption {
    font-size: 1.3em;
  }
  
  .tablediv table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .tablediv table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  .tablediv table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: left;
  }
  
  .tablediv table td:first-child::before {
    content: attr(data-label);
    float: none;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    text-align: left;
    display: block;
}
  
  .tablediv table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    width: 27%;
    text-align: left;
  }
  
  .tablediv table td:last-child {
    border-bottom: 0;
  }
}




.refislider {
  width: 100%;
  padding-left: 10px;
}

.refislider .slider {
    -webkit-appearance: none;
    width: 90%;
    height: 2px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.refislider .slider:hover {
  opacity: 1;
}

.refislider .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #4CAF50;
  cursor: pointer;
  border-radius: 50%;
}

.refislider .slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: #4CAF50;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
}


.tablesection {
    margin-top: 50px;
}
.cenimage {
    background: #ebebeb;
    height: 80px;
    width: 80px;
    margin: 60px auto 50px;
    border-radius: 50%;
    overflow: hidden;
}

.cenimage:before {
    content: "";
    height: 1px;
    background: #ddd;
    width: 50%;
    position: absolute;
    top: 50%;
    right: -5%;
}

.cenimage:after {
    content: "";
    height: 1px;
    background: #ddd;
    width: 50%;
    position: absolute;
    top: 50%;
    left: -5%;
}

.cenimagecontainer  {
    position: relative;
    overflow: hidden;
}


.black .text-block-12, .black h1 {
    color: #000;
}

.green .text-block-14, .green .text-block-12, .green h1 {
    color: #02c667;
}

